@import url("https://fonts.googleapis.com/css?family=Lobster+Two:700i|Montserrat:400,700|Noto+Serif:400i|Roboto+Slab:400,700|Heebo:100,900|Encode+Sans+Expanded:300,400,600");
@font-face {
  font-family: 'portfolio';
  src: url("../font/portfolio.eot?78515472");
  src: url("../font/portfolio.eot?78515472#iefix") format("embedded-opentype"), url("../font/portfolio.woff?78515472") format("woff"), url("../font/portfolio.ttf?78515472") format("truetype"), url("../font/portfolio.svg?78515472#portfolio") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

section {
  padding-top: 120px;
  padding-bottom: 120px; }
  section h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #222222;
    margin-bottom: 10px;
    letter-spacing: 2px; }
  section h3 {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #777777; }
  section h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700; }
  section h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700; }
  section h6 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400; }
  section p {
    padding: 10px 12px;
    color: #777777;
    font-family: 'Roboto Slab', serif;
    width: 100%; }
  section q {
    font-weight: 700;
    letter-spacing: 2px; }

.welcome {
  background: linear-gradient(rgba(4, 31, 49, 0.85), rgba(4, 4, 4, 0.9)), url(../img/bg.jpg) 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(37, 37, 37, 0.85);
  color: #ccc;
  height: 100vh; }

.welcome_button {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: url("../img/foto.jpg");
  background-size: cover;
  box-shadow: 0 0 20px #000; }

.welcome_name {
  color: #fff;
  font-size: 45px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  text-shadow: 0 0 20px #000; }
  @media only screen and (max-width: 475px) {
    .welcome_name {
      font-size: 33px; } }

.welcome_name-bold {
  font-weight: 900; }

.welcome_desc {
  font-weight: 300;
  margin-bottom: 20px;
  color: #31c2e4;
  font-size: 2em; }
  .welcome_desc:before {
    content: '{'; }
  .welcome_desc:after {
    content: '}'; }
  .welcome_desc:before, .welcome_desc:after {
    font-weight: 600;
    position: relative;
    top: .1em;
    font-size: 1.65em;
    color: yellow;
    padding: 0 15px; }

.welcome_media {
  color: #ae81ff;
  text-align: center; }
  .welcome_media [class*="icon-"] {
    font-size: 20px;
    padding-right: 10px;
    color: #f92672; }

.welcome_icons {
  margin-top: 30px; }
  .welcome_icons [class*="icon-"] {
    font-size: 30px;
    color: white;
    padding: 0 10px; }
    .welcome_icons [class*="icon-"]:before {
      transition: .3s;
      transform: rotate(30deg); }
  .welcome_icons a:hover [class*="icon-"]:before {
    transform: scale(1.2) rotate(0deg); }
  .welcome_icons .icon-application {
    font-size: 26px;
    top: -2px;
    position: relative; }

.wrapper {
  margin-top: 60px; }

.about .wrapper {
  width: 75%; }
  @media only screen and (max-width: 991.99px) {
    .about .wrapper {
      width: 95vw; } }

.about_image {
  width: 350px;
  margin: 20px; }
  @media only screen and (max-width: 991.99px) {
    .about_image {
      width: 30vw;
      min-width: 180px; } }
  @media only screen and (max-width: 575.99px) {
    .about_image {
      display: none; } }

.about_description {
  padding: 20px 12px; }

.portfolio {
  background: linear-gradient(rgba(175, 174, 174, 0.85), rgba(249, 249, 249, 0.85)), url(../img/portfolio.jpg) 50% 50%;
  background-size: cover;
  background-attachment: fixed; }

.projects {
  padding: 0;
  margin-top: 40px; }

.project {
  background-color: white;
  flex: 0 0 25%;
  margin: 25px 17px;
  min-width: 290px;
  box-shadow: 0 0 20px 1px rgba(50, 50, 50, 0.85); }
  .project img {
    display: block;
    width: auto; }
  .project .details {
    padding: 25px;
    background-color: #222222; }
    .project .details p {
      padding: 0;
      margin: 0;
      font-family: 'Noto Serif', serif; }
    .project .details h4 {
      margin: 0;
      color: white; }

/*# sourceMappingURL=style.css.map */