@import url("https://fonts.googleapis.com/css?family=Heebo:100,900|Encode+Sans+Expanded:300,400,600");
@font-face {
  font-family: 'portfolio';
  src: url("../font/portfolio.eot?78515472");
  src: url("../font/portfolio.eot?78515472#iefix") format("embedded-opentype"), url("../font/portfolio.woff?78515472") format("woff"), url("../font/portfolio.ttf?78515472") format("truetype"), url("../font/portfolio.svg?78515472#portfolio") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../img/bg.jpg) 50% 50%;
  background-size: cover;
  height: 100vh;
  font-family: 'Encode Sans Expanded', sans-serif; }

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(37, 37, 37, 0.85);
  color: #ccc;
  height: 100vh;
  width: 100vw; }

.welcome_button {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: url("../img/foto.jpg");
  background-size: cover;
  box-shadow: 0 0 20px #000; }

.welcome_name {
  color: #fff;
  font-size: 45px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  text-shadow: 0 0 20px #000; }
  @media only screen and (max-width: 475px) {
    .welcome_name {
      font-size: 33px; } }

.welcome_name-bold {
  font-weight: 900; }

.welcome_desc {
  font-weight: 300;
  margin-bottom: 20px;
  color: #31c2e4;
  font-size: 2em; }
  .welcome_desc:before {
    content: '{'; }
  .welcome_desc:after {
    content: '}'; }
  .welcome_desc:before, .welcome_desc:after {
    font-weight: 600;
    position: relative;
    top: .1em;
    font-size: 1.65em;
    color: yellow;
    padding: 0 15px; }

.welcome_media {
  color: #ae81ff;
  text-align: center; }
  .welcome_media [class*="icon-"] {
    font-size: 20px;
    padding-right: 10px;
    color: #f92672; }

.welcome_icons {
  margin-top: 30px; }
  .welcome_icons [class*="icon-"] {
    font-size: 30px;
    color: white;
    padding: 0 10px; }
    .welcome_icons [class*="icon-"]:before {
      transition: .3s;
      transform: rotate(30deg); }
  .welcome_icons a:hover [class*="icon-"]:before {
    transform: scale(1.2) rotate(0deg); }
  .welcome_icons .icon-application {
    font-size: 26px;
    top: -2px;
    position: relative; }

.info_toggle {
  height: 35px;
  background-size: cover;
  z-index: 4;
  width: 40px;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 13px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #444;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  perspective: 100px; }
  .info_toggle img {
    height: 35px;
    animation: swingY 2s linear 0s infinite normal; }
  .info_toggle:hover + .info {
    bottom: 0; }

.info {
  width: 75%;
  text-align: center;
  color: #ccc;
  position: fixed;
  bottom: -200px;
  transition: .5s;
  background-color: #2b2a2a;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px 20px 40px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .info h3 {
    color: #fff;
    padding-bottom: 20px; }

@keyframes swingY {
  25% {
    transform: rotateY(90deg); }
  50% {
    transform: rotateY(180deg); }
  75% {
    transform: rotateY(270deg); }
  100% {
    transform: rotateY(360deg); } }

/*# sourceMappingURL=style.css.map */