@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100,400");
h1 {
  font-size: 60px;
  font-family: "Raleway", sans-serif; }

h2 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.gold {
  color: #af9963; }

.circle {
  border-radius: 50%;
  height: 220px;
  width: 220px;
  font-size: 33px;
  font-weight: 100;
  background-color: #af9963;
  color: white;
  position: absolute;
  cursor: pointer; }

body {
  background-color: #ffffff; }

/***** Header Navgation ******/
.navbar {
  padding-top: 17px;
  padding-left: 170px;
  padding-right: 50px;
  font-family: "Raleway", sans-serif; }

.navbar-nav {
  margin-top: 5px; }

.nav-item {
  min-width: 150px;
  text-align: center;
  position: relative; }
  .nav-item:last-child:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 20px;
    background-color: #af9963;
    right: -50px;
    transform: translateY(50%);
    top: 0; }

.nav-link {
  color: #af9963;
  font-size: 18px; }
  .nav-link:before {
    content: '';
    position: absolute;
    border-left: 1px solid #e8e9e9;
    height: 80px;
    top: -80px; }
  .nav-link:hover {
    color: #2d3339; }
    .nav-link:hover:before {
      border-left: 1px solid #2d3339; }

/******* Section HERO ****/
.hero {
  height: 1125px;
  background: url("../src/hero.png") 100% no-repeat;
  overflow: hidden;
  background-position-y: -13%;
  border-bottom-left-radius: 100% 7%;
  border-bottom-right-radius: 100% 7%;
  transform: translateY(40px);
  background-color: white; }

ol {
  list-style-type: decimal-leading-zero; }
  ol li {
    font-size: 40px;
    left: 170px;
    top: 100px;
    position: relative;
    color: #af9963;
    opacity: 0.5;
    width: 0; }
    ol li.active-item {
      opacity: 1; }
      ol li.active-item:after {
        content: '';
        width: 310px;
        height: 4px;
        border-bottom: 2px solid #af9963;
        position: absolute;
        bottom: 0;
        left: -65px; }
    ol li div {
      display: none;
      position: absolute;
      top: 80px;
      left: 20px;
      width: 600px;
      color: #2d3439; }
      ol li div h2 {
        color: #af9963;
        font-weight: 400; }
      ol li div.active {
        display: block; }

/******* Section Concave ****** */
.concave {
  height: 790px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/concave-bg.png") 80% 50% no-repeat;
  z-index: -1;
  background-size: cover;
  overflow: hidden; }
  .concave .welcome-content {
    margin: 170px;
    justify-content: center;
    color: white;
    width: 650px; }
    .concave .welcome-content p:first-of-type {
      margin-top: 50px; }
    .concave .welcome-content p:last-of-type {
      width: 70%; }
  .concave button {
    left: 750px;
    bottom: -710px; }

/******** Slider ****/
.slider {
  height: 810px;
  position: relative; }

.wrapper {
  background: url("../src/bg-slider.png") no-repeat;
  background-size: cover;
  border-top-left-radius: 100% 7%;
  border-top-right-radius: 100% 7%;
  overflow: hidden;
  transform: translateY(-40px); }
  .wrapper header {
    height: 140px;
    margin-left: 50%;
    font-weight: 100;
    position: relative;
    top: 40px; }
  .wrapper .slide {
    height: 670px; }
    .wrapper .slide .info {
      width: 50%;
      margin-left: 30px;
      padding-right: 200px;
      font-weight: 100; }
      .wrapper .slide .info h2 {
        margin-top: 50px;
        margin-bottom: 50px; }
      .wrapper .slide .info .date {
        font-size: 22px;
        color: #af9963;
        font-weight: 100; }

button {
  bottom: -94px;
  z-index: 2;
  left: 75vw; }

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 50px;
  background-color: #af9963;
  opacity: 1;
  top: 250px;
  font-size: 40px; }

.carousel-control-prev {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; }

.carousel-control-next {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; }

footer {
  z-index: 1;
  height: 305px;
  background-color: #2d3439; }
  footer nav {
    height: 250px;
    background-color: #45555f;
    transform: translateY(-40px); }

/*# sourceMappingURL=style.css.map */